.wrapper {
  max-width: 1264px;
  margin: 40px auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.wrapperInner {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.headerTitle {
  font-size: 36px;
  font-weight: 700;
  color: #617AD3;
}

.cardbox {
  max-width: 282px;
  padding: 14px;
  margin: 12px;
  background: #ffffff;
  border-radius: 20px;
  width: auto;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cardbox:hover {
  border-color: #617AD3;
}

.image {
  position: relative;
  background: #adadad;
  border-radius: 10px;
  width: 254px;
  height: 254px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 8px;
}

.avatar:global(.ant-avatar) {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%, 0px);
  border: 2px solid #f3f3f3;
}

.button:global(.ant-btn) {
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.ant-btn).btnInfo:focus,
:global(.ant-btn).btnInfo:active,
.btnInfo:global(.ant-btn) {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to bottom, #27AAE1, #617AD3) border-box;
  border: 1px solid transparent;
  color: #617AD3;
}

:global(.ant-btn).btnInfo:hover {
  background: linear-gradient(180deg, #27AAE1 0%, #617AD3 100%);
  color: white;
  border: none;
}

:global(.ant-btn).btnBuy:focus,
:global(.ant-btn).btnBuy:active,
:global(.ant-btn).btnBuy:hover,
.btnBuy:global(.ant-btn) {
  background: linear-gradient(180deg, #27AAE1 0%, #617AD3 100%);
  color: white;
  border: none;
  
}

:global(.ant-btn).btnBuy:hover {
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.id {
  font-size: 16px;
  color: #adadad;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #617AD3;
}

.byAuthor span {
  color: #617AD3;
}

.description {
  font-size: 16px;
}

.pagination:global(.ant-pagination) :global(.ant-pagination-item) {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to bottom, #27AAE1, #617AD3) border-box;
  border-radius: 50%;
  border: 1px solid transparent;
}

.pagination:global(.ant-pagination) :global(.ant-pagination-item a) {
  background: linear-gradient(180deg, #27AAE1 0%, #617AD3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
}

.pagination:global(.ant-pagination) :global(.ant-pagination-item:hover),
.pagination:global(.ant-pagination) :global(.ant-pagination-item-active) {
  background: linear-gradient(to bottom, #27AAE1, #617AD3) border-box;
}

.pagination:global(.ant-pagination) :global(.ant-pagination-item:hover a),
.pagination:global(.ant-pagination) :global(.ant-pagination-item-active a) {
  background: linear-gradient(180deg, white 0%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* responsive */
@media screen and (max-width: 1600px) {
  .wrapperInner {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1200px) {
  .wrapperInner {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 576px) {
  .wrapperInner {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    margin: 20px auto;
    padding: 0
  }
}